.boombox-handle {
    height: 80px;
    width: 800px;
    margin: 40px auto -40px auto;;
    border: 20px solid dimgray;
    border-radius: 30px;
}

.boombox-container {
    background-color: dimgray;
    width: 1200px;
    height: 560px;
    margin: 0 auto;
}

.boombox-top-panel {
    background-color: darkslategray;
    width: 100%;
    height: 100px;
}

.top-panel-filters {
    float: left;
    border: 1px solid dimgray;
    border-radius: 5px;
    width: 220px;
    height: 70px;
    position: relative;
    top: 15px;
    left: 60px;
}

.top-panel-wav-display {
    float: left;
    border: 1px solid dimgray;
    border-radius: 5px;
    width: 600px;
    height: 70px;
    position: relative;
    top: 15px;
    left: 100px;
}

.boombox-speaker {
    background-color: black;
    color: white;
    width: 380px;
    height: 380px;
    border-radius: 100%;
}

.speaker-left {
    float: left;
    position: relative;
    top: 40px;
    left: 30px;
    margin: 0;
}

.speaker-right {
    float: right;
    position: relative;
    top: -100px;
    right: 30px;
    margin: 0;
}

.boombox-bottom-panel {
    background-color: beige;
    width: 240px;
    height: 60px;
    position: relative;
    left: 100px;
    top: 160px;
    overflow: hidden;
}